@import "../../../assets/styles/variables";

.info {
  padding: 60px 20px;

  &__title {
    font-size: 30px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
  }

  &__btn {
    background-color: $mainColor;
    padding: 10px 12px 6px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__wrapperContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__field {
    width: 48%;
    margin: 10px 0;
  }

  &__fieldTitle {
    position: relative;
    display: inline;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 24px;
      left: 0;
      background-color: $mainColor;
    }
  }

  &__fieldValue {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
}
