<div class="info__wrapper">
    <p class="info__title">{{client.name}}</p>
    <div class="info__wrapperContent">
        <div class="info__field">
            <p class="info__fieldTitle">{{client.age}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.gender}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.balance}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.company}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.email}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.phone}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.address}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.registered}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.greeting}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.favoriteFruit}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.tags}}</p>
        </div>
        <div class="info__field">
            <p class="info__fieldTitle">{{client.friends}}</p>
        </div>
    </div>
</div>
