@import "../../../assets/styles/variables";

.info {
  padding: 0 20px 60px;

  &__title {
    font-size: 30px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls {
    display: flex;
  }

  &__btn {
    background-color: $mainColor;
    padding: 10px 12px 6px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__btnClose {
    background-color: $orange;
  }

  &__wrapperContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__field {
    width: 48%;
    margin: 10px 0;
  }

  &__fieldTitle {
    position: relative;
    display: inline;
    color: $mainColor;

    &:after {
      content: "";
      position: absolute;
      width: calc(100% + 25px);
      height: 2px;
      top: 24px;
      left: 0;
      background-color: $mainColor;
    }
  }

  &__fieldValueTags {
    display: flex;
    flex-wrap: wrap;
  }

  &__fieldTag {
    padding: 5px 7px;
    display: block;
    margin: 0 12px 5px 0;
    background-color: $lightGreen;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    position: relative;

    span {
      cursor: pointer;
      position: absolute;
      top: -5px;
      right: -5px;
      padding: 1px 5px;
      border-radius: 50%;
      color: #fff;
      font-size: 10px;
      background-color: $orange;
    }
  }

  &__fieldValue {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    span {
      font-size: 12px;
      color: $orange;
    }
  }
}

.backBtn-container {
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
}

.backBtn {
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
  }
}
