<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" [value]="filterStr" placeholder="Filter by name, tags, phone">
</mat-form-field>
<div class="toggle-bar">
    <mat-slide-toggle [checked]="checked" (change)="toggleActive()">Only active users</mat-slide-toggle>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="clients" matSort>

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
            <td mat-cell *matCellDef="let element"> {{element.index + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture</th>
            <td mat-cell *matCellDef="let element">
                <div [ngStyle]="{'background-image': 'url(\'' + element.picture + '\'', 'border': '1px solid '+ element.eyeColor}"
                     class="table-picture">

                </div>
            </td>
        </ng-container>


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags</th>
            <td mat-cell *matCellDef="let element">
                <div (click)="searchBy(tag)" *ngFor="let tag of element.tagsArr" class="table__tag-item">{{tag}}</div>
               <!-- <ul>
                    <li *ngFor="let tag of element.tagsArr">{{tag}}</li>
                </ul>-->
<!--                {{element.tags}}-->
<!--                culpa,su-->
            </td>
        </ng-container>

        <ng-container matColumnDef="friends">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Friends</th>
            <td mat-cell *matCellDef="let element">
                <ul>
                    <li (click)="searchBy(friend.name)" class="table__friends-item" *ngFor="let friend of element.friendsArr">{{friend.name}}</li>
                </ul>
<!--                {{element.friends}}-->
            </td>
        </ng-container>

        <ng-container matColumnDef="registered">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Registered</th>
            <td mat-cell *matCellDef="let element"> {{element.registered | dateformat}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Phone</th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Active</th>
            <td mat-cell *matCellDef="let element">
                <div class="table-icon" *ngIf="element.isActive">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                         id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                         xml:space="preserve" width="512px" height="512px" class="">
		<path d="M497.36,69.995c-7.532-7.545-19.753-7.558-27.285-0.032L238.582,300.845l-83.522-90.713    c-7.217-7.834-19.419-8.342-27.266-1.126c-7.841,7.217-8.343,19.425-1.126,27.266l97.126,105.481    c3.557,3.866,8.535,6.111,13.784,6.22c0.141,0.006,0.277,0.006,0.412,0.006c5.101,0,10.008-2.026,13.623-5.628L497.322,97.286    C504.873,89.761,504.886,77.54,497.36,69.995z"
              data-original="#000000" class="active-path" data-old_color="#000000" fill="#757575"/>
                        <path d="M492.703,236.703c-10.658,0-19.296,8.638-19.296,19.297c0,119.883-97.524,217.407-217.407,217.407    c-119.876,0-217.407-97.524-217.407-217.407c0-119.876,97.531-217.407,217.407-217.407c10.658,0,19.297-8.638,19.297-19.296    C275.297,8.638,266.658,0,256,0C114.84,0,0,114.84,0,256c0,141.154,114.84,256,256,256c141.154,0,256-114.846,256-256    C512,245.342,503.362,236.703,492.703,236.703z"
                              data-original="#000000" class="active-path" data-old_color="#000000" fill="#757575"/>
</svg>
                </div>

                <div class="table-icon" *ngIf="!element.isActive">
                    <svg xmlns="http://www.w3.org/2000/svg" height="512px" viewBox="0 0 311 311.07733" width="512px">
                        <g>
                            <path d="m16.035156 311.078125c-4.097656 0-8.195312-1.558594-11.308594-4.695313-6.25-6.25-6.25-16.382812 0-22.632812l279.0625-279.0625c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.636719l-279.058594 279.058593c-3.136719 3.117188-7.234375 4.695313-11.328125 4.695313zm0 0"
                                  data-original="#000000" class="active-path" data-old_color="#000000" fill="#757575"/>
                            <path d="m295.117188 311.078125c-4.097657 0-8.191407-1.558594-11.308594-4.695313l-279.082032-279.058593c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l279.058594 279.0625c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.230469 4.695313-11.304687 4.695313zm0 0"
                                  data-original="#000000" class="active-path" data-old_color="#000000" fill="#757575"/>
                        </g>
                    </svg>
                </div>
                <div class="table-link"
                     [routerLink]="['/main', element._id]"
                     (click)="goToClientPage(element)"
                >More...</div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
