<app-loader *ngIf="reportingPageService.loading"></app-loader>
<div class="toggle-bar" *ngIf="!reportingPageService.loading">
    <mat-slide-toggle [checked]="checked" (change)="toggleActive()">Only active users</mat-slide-toggle>
</div>
<div style="display: block;" *ngIf="!reportingPageService.loading">
    <canvas baseChart height="35vh" width="80%"
            [datasets]="reportingPageService.lineChartData"
            [labels]="reportingPageService.lineChartLabels"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [options]="lineChartOptions"
            [chartType]="lineChartType"></canvas>
</div>
